<div id="<%= dom_id permission %>">
  <p>
    <strong>User:</strong>
    <%= permission.user_id %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= permission.profile_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= permission.active %>
  </p>

</div>
