<div id="<%= dom_id question_type %>">
  <p>
    <strong>Name:</strong>
    <%= question_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= question_type.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= question_type.active %>
  </p>

</div>
