<% content_for :title, "Editing question type" %>

<h1>Editing question type</h1>

<%= render "form", question_type: @question_type %>

<br>

<div>
  <%= link_to "Show this question type", @question_type %> |
  <%= link_to "Back to question types", question_types_path %>
</div>
